<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrarse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <ul class="nav justify-content-end shadow p-3 mb-5 bg-body rounded">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Iniciar sesión</a>
  </li>
</ul>

    <form action="/Home/registro" method="POST">
    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-6 border border-primary rounded-end rounded-4 p-3">
        <h1>Registro</h1>
        {% if error %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
        </svg>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
          {{error}}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      {% endif %}
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="correo" placeholder="Correo electronico" name="Correo" {% if error %} value={{correo}}{% endif %}>
          <label for="floatingInput">Correo</label>
          </div>
                  <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nameusu" placeholder="Nombre de usuarios" name="Usuario" {% if error %} autofocus {% endif %}>
          <label for="floatingInput">Nombre de usuario</label>
          </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="contra" placeholder="Contraseña" name="Contraseña">
          <label for="floatingInput">Contraseña</label>
          </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="confircontra" placeholder="Nombre de usuarios" name="confirmación contraseña">
          <label for="floatingInput">Confirmación contraseña</label>
          </div>
          <div id="aviso" class="alert alert-primary" role="alert">
                   Para enviar el formulario debes llenar todos los campos
                </div> 
        <button id="botonsubmit"type="submit" class="btn btn-outline-primary" disabled>enviar</button>

      </form>
      </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/JS/ValidacionRegistro.js"> </script> 
  
</html>